# ==========================================
# PostgreSQL
# ==========================================

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=simple_page_builder_api_development

POSTGRES_DB_TEST=simple_page_builder_api_test


# ==========================================
# MongoDB
# ==========================================

MONGO_HOST=localhost
MONGO_PORT=27017

MONGO_USERNAME=mongo
MONGO_PASSWORD=mongo

MONGO_DATABASE=simple_page_builder_development


# ==========================================
# pgAdmin
# ==========================================

PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050